/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  line-height: 1.5;
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.text-primary {
  color: #00ffa3;
}

.h1 {
  font-size: 128px;
}
.h2 {
  font-size: 64px;
}
.h3 {
  font-size: 20px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.gap-24 {
  gap: 24px;
}
.gap-20 {
  gap: 20px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 28px;
}
.ms-2 {
  margin-left: 16px;
}

.btn-light {
  padding: 12px 24px;
  background-color: #fff;
  color: #000000;
  border-radius: 32px;
  align-items: start;
}

.btn-dark {
  padding: 12px 24px;
  background-color: #000000;
  color: #fff;
  border-radius: 32px;
  align-items: start;
}

.nav {
  padding: 52px 0;
  background-color: #000000;
  color: #d1d1d1;
}
.header {
  background-color: #000000;
  color: #fff;
  padding-top: 72px;
  padding-bottom: 32px;
}
.intro {
  background-image: url(image/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 160px 0;
}
.intro-text {
  width: 526px;
}
.intro-text p {
  margin-top: 36px;
  margin-bottom: 32px;
}
.intro-image {
  width: 746px;
}
.about {
  padding: 160px;
}
.skill {
  width: 636px;
}
.skill li {
  width: 306px;
  padding: 16px;
  border: #e3e3e3 solid 1px;
  box-shadow: 4px 4px 4px 0px #00000014;
}
.about-me {
  width: 526px;
}
.about-me p {
  color: #15161d;
  margin-top: 36px;
  font-size: 24px;
}
.contact {
  padding: 96px 0;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  color: #fff;
}
.apps img {
  border-radius: 40px;
  box-shadow: 4px 4px 8px 0px #00000014;
}
.apps img:hover {
  box-shadow: 0px 0px 16px 3px #9094ffe5;
}
.project {
  padding: 160px 0;
}
.project-title {
  width: 746px;
  margin-left: auto;
}
.project-text {
  width: 636px;
}
.footer {
  background-color: black;
  color: #ffffff;
  padding: 40px;
  text-align: center;
}
